RewriteEngine On 

# URL amigables
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php [L]

# Evistar acceder a carpetas que NO tengan un index.php/index.hmtl
Options All -Indexes

# Manejo de excepciones  en el servidor 404
ErrorDocument 400 /rutas/unauthorized.php
ErrorDocument 401 /rutas/unauthorized.php
ErrorDocument 403 /rutas/unauthorized.php
ErrorDocument 404 /rutas/404.php
